@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url('./img/background-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-conteiner {
    width: 1030px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 53px;
    height: 47px;
    margin-right: 8px;
}

.first-word {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;

    color: #FFFFFF;
}

.second-word {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;

    color: #FFFFFF;
}

.content-link:hover {
    filter: invert(45%) sepia(55%) saturate(1397%) hue-rotate(345deg) brightness(96%) contrast(97%);
}

.wrapper-content {
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
}

.content-link {
    display: flex;
    text-decoration: none;
}

.content-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 3px;
}

.text-words {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
}

.first-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;

    color: #FFFFFF;
}

.second-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;

    color: #FFFFFF;
}

.nav-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 46px;
}

.nav-contact-link-first {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;

    color: #FFFFFF;

    text-decoration: none;
    margin-bottom: 15px;
}

.nav-contact-link-second {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;

    color: #FFFFFF;

    text-decoration: none;
}

/* Header is over */

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 17px;
}

.main-conteiner {
    width: 1030px;
    height: 560px;
    margin: 0 auto;
}

.conteiner-line-first {
    display: flex;
    justify-content: space-between;
}

.image {
    width: 300px;
    height: 220px;
    margin-bottom: 20px;
}

.content-line-link {
    text-decoration: none;
    text-align: center;
}

.content-line-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    margin-top: 20px;

    color: #FFFFFF;
}

.conteiner-line-second {
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
}

.hidden {
    height: 220px;
    position: relative;
    overflow: hidden;
}

.hidden-block {
    height: 55px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    align-items: flex-end;
    padding: 7px 14px 12px 16px;
    background-color: #F26522;
    position: absolute;
    bottom: -55px;
    transition: bottom .75s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

a:hover .hidden-block {
    bottom: 0;
}

.price {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label {
    font-size: 10px;
    line-height: 10px;
    color: #fff;
}

.amount {
    font-size: 20px;
    line-height: 20px;
    color: #fff;
}

.details {
    display: flex;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    padding-top: 29px;
}

.details-box {
    margin-right: 16px;
}

i {
    border: solid white;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
}

a:hover {
    color: #F26522;
}

a .content-line-text:hover {
    color: #F26522;
}


/* Main class "main" is over */

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-conteiner {
    width: 1030px;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: center;
}

.footer-content-block {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;

    color: #FFFFFF;
    margin-top: 48px;
}